body{
    font-family: sans-serif;
}
.contenedor{
 background-color: blue;"); 
 height: 50vh;
 margin: 5%;   

 display: flex;
 justify-content: center;
 align-items: center;
}
.contenido{
text-align: right;
}